
<!-- 24_1 -->
<table width="100%" align="center" bgcolor="#7a0000" border="0" cellpadding="0" cellspacing="0" data-mobile="true">
    <tr>
        <td valign="top" align="center" style="padding:0;margin:0;">
            <table align="center" border="0" cellspacing="0" cellpadding="0" width="600" style="margin:0;padding:0">
                <tr>
                    <td align="left" valign="top" style="padding:0;margin:0;">
                        <table border="0" cellpadding="0" width="100%" cellspacing="0" align="left" style="margin:0;padding:0">
                            <tr>
                                <td align="left" valign="top" width="70%" style="margin:0;padding:0;">
                                    <table border="0" cellpadding="0" width="100%" cellspacing="0" align="left" style="margin:0;padding:0">
                                        <tr>
                                            <td align="left" valign="top" style="margin:0;padding:0;">
                                                <table align="left" width="100%" border="0" cellpadding="0" cellspacing="0" data-editable="text" style="margin:0;padding:0">
                                                    <tr>
                                                        <td valign="top" align="left" style="padding-right:15px;padding-left:15px;padding-top:15px;padding-bottom:5px;margin:0;">
                                                            <span style="font-family:'Trebuchet Ms',Arial,sans-serif;color:#ffba00;font-size:28px;font-weight:bold;">
                                                               Crystal contest
                                                            </span>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td align="left" valign="top" width="30%" style="margin:0;padding:0;">
                                    <table border="0" cellpadding="0" width="100%"  cellspacing="0" align="left" style="margin:0;padding:0">
                                        <tr>
                                            <td align="left" valign="top" style="margin:0;padding:0;">
                                                <table align="left" width="100%" border="0" cellpadding="0" cellspacing="0" data-editable="text" style="margin:0;padding:0">
                                                    <tr>
                                                        <td bgcolor="#650000" valign="top" align="left" style="border-top-width:10px;border-bottom-width:0;border-left-width:0;border-right-width:0;border-top-style:solid;border-right-style:none;border-bottom-style:none;border-left-style:none;border-color:#7a0000;padding-right:10px;padding-left:13px;padding-top:20px;padding-bottom:15px;margin:0;">
                                                            <span style="font-family:Arial,sans-serif;color:#4fd0ff;font-size:12px;font-weight:bold;text-decoration:underline;">
                                                               <a href="/home"> Start</a>
                                                            </span>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td valign="top" align="left" style="padding:0;margin:0;">
                        <table border="0" cellpadding="0" cellspacing="0" align="left" data-editable="image" style="margin:0;padding:0">
                            <tr>
                                <td bgcolor="#650000" valign="top" align="left" style="margin:0;padding-top:0;padding-right:14px;padding-bottom:0;padding-left:0">
                                    <img src="http://app.getresponse.com/images/common/templates/messages/95/3/img/01.jpg" alt="" width="586" height="266" border="0" style="display:block;">
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td align="left" valign="top" style="padding:0;margin:0;">
                        <table border="0" cellpadding="0" cellspacing="0" align="left" style="margin:0;padding:0">
                            <tr>
                                <td align="left" valign="top" width="70%" style="margin:0;padding:0;">
                                    <table border="0" cellpadding="0" cellspacing="0" align="left" style="margin:0;padding:0">
                                        <tr>
                                            <td align="left" valign="top" style="margin:0;padding:0;">
                                                <table align="left" width="100%" border="0" cellpadding="0" cellspacing="0" data-editable="text" style="margin:0;padding:0">
                                                    <tr>
                                                        <td valign="top" align="left" style="padding-right:15px;padding-left:15px;padding-top:15px;padding-bottom:25px;margin:0;">
                                                            <span style="font-family:'Trebuchet Ms',Arial,sans-serif;color:#ffffff;font-size:28px;font-weight:bold;">
                                                                Crystal Contest 2015...
                                                            </span>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="left" valign="top" style="margin:0;padding:0;">
                                                <table align="left" width="100%" border="0" cellpadding="0" cellspacing="0" data-editable="text" style="margin:0;padding:0">
                                                    <tr>
                                                        <td  style="font-family:Arial,sans-serif;color:#ffffff;font-size:16px;" valign="top" align="left" style="padding-right:15px;padding-left:15px;padding-top:0;padding-bottom:15px;margin:0;">



                                                            <span style="font-family:Arial,sans-serif;color:#ffffff;font-size:18px;">
                                                             Crystal contest 2015 has began
                                                               <br>    <br>
                                                               Crystal contest  is an entertainment outfit that's in the business of bringing out stars and talents with great potencials<br />
<br />
Crystal contest has held several competition in the past including last year's competition where the winner went home with a brand new car and five million <br />
<br />
Now is an opportunity for young talents to exploit what they've got in this competition that promises huge benefits and returns for the first three candidates.<br />
<br />
This time, for male and female category,<br />
The first position will go home with $10,000.<br />
The second will have $5,000.<br />
The third will have $2,000.<br />
<br />
In this modelling competition, winners will be picked from users with most supports in form of likes on their pictures, and also text-message supported votes.<br />
<br />
<br />
When the time for text-message supported voting starts, competing models will have a unique vote code which is free, yes, FREE. The vote code will be used by their supporters to vote a model by sending the artist vote code in a text message.<br />
<br />
It is legal for an artist's supporters to freely register on the platform to show supports in form of likes, and following the artist and also in text-message voting when the time comes.<br />
<br />
Each likes from supporters on your pictures constitute 1 point.<br />
Each text-message supported vote from your supporters constitute 20 points.</div>


															   </br> Win $10,000 and a modelling contract.  Become known

                                                                   <br>    <br>
                                                            </span>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="left" valign="top" style="margin:0;padding:0;">
                                                <table align="left" width="100%" border="0" cellpadding="0" cellspacing="0" data-editable="text" style="margin:0;padding:0">
                                                    <tr>
                                                        <td valign="top" align="left" style="padding-right:15px;padding-left:15px;padding-top:0;padding-bottom:15px;margin:0;">
                                                            <span style="font-family:Arial,sans-serif;color:#ffffff;font-size:16px;">




                                                            </ul>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="left" valign="top" style="margin:0;padding:0;">
                                                <table align="left" width="100%" border="0" cellpadding="0" cellspacing="0" data-editable="text" style="margin:0;padding:0">
                                                    <tr>
                                                        <td valign="top" align="left" style="padding-right:15px;padding-left:15px;padding-top:0;padding-bottom:20px;margin:0;">
                                                            <span style="font-family:Arial,sans-serif;color:#4fd0ff;font-size:18px;font-weight:bold;">
                                                                <a href="" style="font-family:Arial,sans-serif;color:#4fd0ff;font-size:18px;font-weight:bold;text-decoration:underline;"></a>
                                                            </span>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td bgcolor="#650000" align="left" valign="top" width="30%" style="margin:0;padding:0;">
                                    <table border="0" cellpadding="0" cellspacing="0" align="left" style="margin:0;padding:0">
                                        <tr>
                                            <td align="left" valign="top" style="margin:0;padding:0;">
                                                <table align="left" width="100%" border="0" cellpadding="0" cellspacing="0" data-editable="text" style="margin:0;padding:0">
                                                    <tr>
                                                        <td bgcolor="#650000" valign="top" align="left" style="padding-right:10px;padding-left:13px;padding-top:23px;padding-bottom:5px;margin:0;">
                                                            <span style="font-family:Arial,sans-serif;color:#ffffff;font-size:12px;font-weight:bold;">
                                                               Login and upload your  photos now
                                                            </span>
                                                            <span style="font-family:Arial,sans-serif;color:#ffffff;font-size:12px;">
                                                               <img src="http://app.getresponse.com/images/common/templates/messages/109/2/img/01.jpg" alt="" width="194" height="261" border="0" style="display:block;">
                                                            </span>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="left" valign="top" style="margin:0;padding:0;">
                                                <table align="left" width="100%" border="0" cellpadding="0" cellspacing="0" data-editable="text" style="margin:0;padding:0">
                                                    <tr>
                                                        <td bgcolor="#650000" valign="top" align="left" style="padding-right:10px;padding-left:13px;padding-top:23px;padding-bottom:15px;margin:0;">
                                                            <span style="font-family:Arial,sans-serif;color:#ffffff;font-size:12px;font-weight:bold;">

                                                            </span>
                                                            <span style="font-family:Arial,sans-serif;color:#ffffff;font-size:12px;">

                                                            </span><br /><br />
                                                            <table border="0" cellpadding="0" cellspacing="0" align="center" data-editable="button" style="margin:0;padding:0">
                                                                <tr>
                                                                    <td valign="top" bgcolor="#ffba00" align="center" style="border-top-width:0;border-bottom-width:0;border-left-width:0;border-right-width:0;border-style:none;border-color:#477588;padding-top:5px;padding-bottom:5px;padding-left:15px;padding-right:15px;margin:0;text-align:center;">
                                                                        <a href="http://models.crystalcontestng.com" style="font-family:'Trebuchet Ms',Arial,sans-serif;color:#ffffff;font-size:30px;font-weight:bold;text-decoration:none;">
                                                                           start &gt;
                                                                        </a>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td align="left" valign="top" style="margin:0;padding:0;">
                        <table align="left" width="100%" border="0" cellpadding="0" cellspacing="0" data-editable="text" style="margin:0;padding:0">
                            <tr>
                                <td valign="top" bgcolor="#350000" align="left" style="border-top-width:0;border-right-width:10px;border-bottom-width:0;border-left-width:0;border-top-style:none;border-right-style:solid;border-bottom-style:none;border-left-style:none;;border-color:#650000;padding-right:15px;padding-left:13px;padding-top:20px;padding-bottom:20px;margin:0;">
                                    <span style="font-family:Arial,sans-serif;color:#ffffff;font-size:24px;">
                                       Get noticed... Get knowned.. Sign up and upload your files to crystal contest today.

                                    </span>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td align="left" valign="top" style="padding:0;margin:0;">
                        <table border="0" cellpadding="0" cellspacing="0" align="left" style="margin:0;padding:0">
                            <tr>
                                <td align="left" valign="top" width="70%" style="margin:0;padding:0;">
                                    <table border="0" cellpadding="0" cellspacing="0" align="left" style="margin:0;padding:0">
                                        <tr>
                                            <td align="left" valign="top" style="margin:0;padding:0;">
                                                <table align="left" width="100%" border="0" cellpadding="0" cellspacing="0" data-editable="text" style="margin:0;padding:0">
                                                    <tr>
                                                        <td valign="top" align="left" style="padding-right:15px;padding-left:25px;padding-top:10px;padding-bottom:35px;margin:0;">
                                                            <span style="font-family:Arial,sans-serif;color:#1b0000;font-size:12px;">

                                                            </span>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td align="left" width="30%" valign="top" style="margin:0;padding:0;">
                                    <table border="0" cellpadding="0" cellspacing="0" align="left" width="100%" style="margin:0;padding:0">
                                        <tr>
                                            <td>
                                                <table border="0" cellpadding="0" cellspacing="0" align="left" width="100%" data-editable="line" style="margin:0;padding:0">
                                                    <tr>
                                                        <td valign="top" align="left" bgcolor="#650000" style="padding-right:10px;padding-left:13px;padding-top:0;padding-bottom:0px;margin:0;">
                                                            <div style="height:0px;line-height:1px;border-top-width:55px; border-top-style:solid;border-top-color:#650000;">
                                                                <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" alt="" width="1" height="1" style="display:block;">
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table><br/>
<table width="300" border="0" cellpadding="0" cellspacing="0" align="center" style="border-collapse:separate;">
    <tr>
        <td valign="top" style="font-family: Arial, Helvetica, sans-serif; margin: 0; padding: 10px 0 10px 0;">
            <table border="0" width="101" align="center" cellpadding="0" cellspacing="0" style="border-collapse:separate;">
                <tr>
                    <td width="101" align="right" valign="top" style="font-family:Arial,Helvetica,sans-serif;margin:0;padding-top:3px;padding-right:0;padding-right:0;padding-bottom:0;padding-left:0;font-size:7px;text-align: left;">

                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
